#d1{
    
    
    background-color: #bcdbdf;
    width: 50%;
    margin-left: 25%;

    background-image: url('forest_fall.jpg');
   }




   h1{
    font-family: 'Permanent Marker', cursive;
     color: #d7eaea;
    position: relative;
      margin-left: 35%;

   }
   

   .addp{

       text-align: center;

   }

   .input-text{
       position: relative;
       margin-left: 30px;
        width: 350px;

   }